Options -MultiViews
DirectoryIndex index.html

RewriteEngine On
RewriteBase /

# Redirect /page.html to /page
RewriteCond %{THE_REQUEST} \s/+(.+?)\.html(?:[\s?]|$) [NC]
RewriteCond %{REQUEST_URI} !/$
RewriteRule ^(.+)\.html$ /$1 [R=301,L,NE]

# Internally rewrite /page to /page.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{DOCUMENT_ROOT}/$1.html -f
RewriteRule ^(.+?)/?$ $1.html [L]
